<h1>Shopping Cart</h1>
<div class="row">
  <div ng-controller="CartCtrl">
    <div ng-repeat="f in cart">
        <div id="{{f.tags[0]}}"class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-{{f.tags[0]}}">
                <h3 class="panel-title">{{f.name}}</h3>
              </div>

              <div class="panel-body panel-body-{{f.tags[0]} panelHeight">

                <div ng-repeat="l in f.links">
                  <a href="{{l.url}}">{{l.name}}</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
</div>



